<section>
  <img src="http://placehold.it/1920x500/FFD966/6DD0F2?text=PATTERN+YOUR+TEXT">
</section>
<section class="grid">
  <% @posts.order(updated_at: :desc).each do |post| %>
  <section class="grid-item">
    <h4>作者：<%= post.author.name%></h4>
    <h5><%= simple_format(truncate(post.title)) %></h5>
    <p><%= simple_format(truncate(post.content, length: 120)) %></p>
    <p>創作於：<%= post.created_at %></p>
    <p>上次更新：<%= post.updated_at %></p>
  </section>
  <% end %>
</section>
