<td>
  <%= user.provider %>
</td>
<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= user.email%>
</td>
<td>
  Posts: <%= user.posts.size %>
</td>
<td>
  Portfolio: <%= user.portfolios.size %>
</td>
<td>
  Rules: <%= user.sanitizes.count %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "After you delete this user, all the belonging posts will be transferred to ADMIN, are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
