<!-- 以下為admin的規則 -->
<h1>Rules from ADMIN</h1>
<table class="table table-strip">
  <thead>
    <tr>
      <th><%=(t "sanitize.pickup")%></th>
      <th><%=(t "sanitize.description")%></th>
      <th><%=(t "sanitize.match")%></th>
      <th><%=(t "sanitize.result")%></th>
    </tr>
  </thead>
  <tbody>
    <% @adminsanitizes.each do |f| %>
      <tr>
        <td><%= link_to (t "sanitize.pickup"), takeit_portfolio_sanitize_path(@portfolio, f), method: :post %></td>
        <td><%= f.description %></td>
        <td><%= f.match %></td>
        <td><%= f.result %></td>
      </tr>
    <% end %>
  </tbody>
</table>
