<div class="container">
  <%= link_to (t "sanitize.newbutton"), new_sanitize_path, :class => "btn btn-primary pull-right" %>
  <div class="row">
    <h1><%=(t "sanitize.page.index.title")%></h1>
      <div class="column">
        <% if @sanitizes.where(user_id: current_user.id).size > 0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <% if current_user && (current_user.admin? || current_user.vip?) %>
                <th><%= (t "sanitize.id") %></th>
                <th><%= (t "sanitize.cop.name") %></th>
              <% end %>
              <th><%=(t "sanitize.status")%></th>
              <th><%=(t "sanitize.match")%></th>
              <th><%=(t "sanitize.result")%></th>
              <th><%=(t "sanitize.description")%></th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @sanitizes.where(user_id: current_user.id).reverse.each do |sanitize| %>
              <% if sanitize.on? %>
                <tr>
                  <% if current_user && (current_user.admin? || current_user.vip?) %>
                    <td><%= sanitize.id %></td>
                    <td><%= sanitize.cop.name %></td>
                  <% end %>
                  <td><%= link_to sanitize.status, changestatus_sanitize_path(sanitize), method: :post %></td>
                  <td><%= sanitize.match %></td>
                  <td><%= sanitize.result %></td>
                  <td><%= sanitize.description %></td>
                  <td><%= link_to (t "edit"), edit_sanitize_path(sanitize) %></td>
                  <td><%= link_to (t "destroy"), sanitize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
        <% if @sanitizes.off.size > 0 %>
        <table class="table">
          <thead>
            <tr>
              <% if current_user && (current_user.admin? || current_user.vip?) %>
                <th><%= (t "sanitize.id") %></th>
                <th><%= (t "sanitize.cop.name") %></th>
              <% end %>
              <th><%=(t "sanitize.status")%></th>
              <th><%=(t "sanitize.match")%></th>
              <th><%=(t "sanitize.result")%></th>
              <th><%=(t "sanitize.description")%></th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
          <% @sanitizes.where(user_id: current_user.id).reverse.each do |sanitize| %>
            <% if sanitize.off? %>
              <tr>
                <% if current_user && (current_user.admin? || current_user.vip?) %>
                  <td><%= sanitize.id %></td>
                  <td><%= sanitize.cop.name %></td>
                <% end %>
                <td><%= link_to sanitize.status, changestatus_sanitize_path(sanitize), method: :post %></td>
                <td><%= sanitize.match %></td>
                <td><%= sanitize.result %></td>
                <td><%= sanitize.description %></td>
                <td><%= link_to (t "edit"), edit_sanitize_path(sanitize) %></td>
                <td><%= link_to (t "destroy"), sanitize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <% end %>

        <% else %>
        <h2><%=(t "sanitize.page.index.hint")%></h2>
        <img src="http://lorempixel.com/640/480/cats" />
        <% end %>

      </div>

<!-- 以下為admin的規則 -->
    <div class="column">
      <table class="table table-striped">
        <thead>
          <tr>
            <% if current_user && (current_user.admin? || current_user.vip?) %>
              <th><%= (t "sanitize.id") %></th>
              <th><%= (t "sanitize.cop.name") %></th>
            <% end %>
            <th></th>
            <th><%=(t "sanitize.match")%></th>
            <th><%=(t "sanitize.result")%></th>
            <th><%=(t "sanitize.description")%></th>
          </tr>
        </thead>
        <tbody>
          <% @sanitizes.where(user_id: User.admin.first.id).reverse.each do |sanitize| %>
            <% if sanitize.on? %>
              <tr>
                <% if current_user && (current_user.admin? || current_user.vip?) %>
                  <td><%= sanitize.id %></td>
                  <td><%= sanitize.cop.name %></td>
                <% end %>
                <td><%= link_to((t "sanitize.pickup"), takeit_sanitize_path(sanitize), method: :post) %></td>
                <td><%= sanitize.match %></td>
                <td><%= sanitize.result %></td>
                <td><%= sanitize.description %></td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @sanitizes.off.size > 0 %>
      <table class="table">
        <thead>
          <tr>
            <% if current_user && (current_user.admin? || current_user.vip?) %>
              <th><%= (t "sanitize.id") %></th>
              <th><%= (t "sanitize.cop.name") %></th>
            <% end %>
            <th></th>
            <th><%=(t "sanitize.match")%></th>
            <th><%=(t "sanitize.result")%></th>
            <th><%=(t "sanitize.description")%></th>
          </tr>
        </thead>
        <tbody>

        <% @sanitizes.where(user_id: User.admin.first.id).reverse.each do |sanitize| %>
          <% if sanitize.off? %>
            <tr>
              <% if current_user && (current_user.admin? || current_user.vip?) %>
                <td><%= sanitize.id %></td>
                <td><%= sanitize.cop.name %></td>
              <% end %>
              <td><%= link_to((t "sanitize.pickup"), takeit_sanitize_path(sanitize), method: :post) %></td>
              <td><%= sanitize.match %></td>
              <td><%= sanitize.result %></td>
              <td><%= sanitize.description %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <% end %>
    </div>

  </div>
</div>
