<div class="container">
  <h1><%=(t "sanitize.page.index.title")%></h1>
  <%= link_to (t "sanitize.newbutton"), new_sanitize_path, :class => "btn btn-primary" %>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th><%=(t "sanitize.status")%></th>
            <th><%=(t "sanitize.match")%></th>
            <th><%=(t "sanitize.result")%></th>
            <th><%=(t "sanitize.description")%></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @sanitizes.reverse.each do |sanitize| %>
            <% if sanitize.on? %>
              <tr>
                <td><%= link_to sanitize.status, changestatus_sanitize_path(sanitize), method: :post, data: { confirm: 'Do you want to swith the rule?' } %></td>
                <td><%= sanitize.match %></td>
                <td><%= sanitize.result %></td>
                <td><%= sanitize.description %></td>
                <td><%= link_to (t "edit"), edit_sanitize_path(sanitize) %></td>
                <td><%= link_to (t "destroy"), sanitize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th><%=(t "sanitize.status")%></th>
            <th><%=(t "sanitize.match")%></th>
            <th><%=(t "sanitize.result")%></th>
            <th><%=(t "sanitize.description")%></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>

        <% @sanitizes.reverse.each do |sanitize| %>
          <% if sanitize.off? %>
            <tr>
              <td><%= link_to sanitize.status, changestatus_sanitize_path(sanitize), method: :post, data: { confirm: 'Do you want to swith the rule?' } %></td>
              <td><%= sanitize.match %></td>
              <td><%= sanitize.result %></td>
              <td><%= sanitize.description %></td>
              <td><%= link_to (t "edit"), edit_sanitize_path(sanitize) %></td>
              <td><%= link_to (t "destroy"), sanitize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
