<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
    <%= f.button :submit, :class => "submit pull-right" %>
  </div>

  <div class="form-inputs">
    <%= f.association :portfolio, collection: current_user.portfolios, as: :radio_buttons %>
    <%= f.input :title %>
    <%= f.input :content, :input_html => { :rows => 20 } %>
  </div>

<% end %>
