<% if @sanitizes != nil && @sanitizes.size > 0 %>
  <h1><%=(t "sanitize.page.index.title")%></h1>
  <table class="table">
    <thead>
      <tr>
        <th><%=(t "sanitize.description")%></th>
        <th><%=(t "sanitize.match")%></th>
        <th><%=(t "sanitize.result")%></th>
      </tr>
    </thead>

    <tbody>
      <% @sanitizes.reverse.each do |sanitize| %>
        <tr>
          <td><%= sanitize.description %></td>
          <td><%= sanitize.match %></td>
          <td><%= sanitize.result %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<h1>你還沒有建立任何的規則，不如先到<%=link_to (t "portfoliopanel"), portfolios_path%>抓幾個來用吧！<h1>
<img src="http://lorempixel.com/640/480/cats" />
<% end %>
