<div class="container">
  <div class="row">
    <div class="column-double">
      <h1><%=(t "post.page.index.title")%></h1>
      <%= link_to (t "post.newbutton"), new_post_path, :class => "btn btn-primary pull-right" %>
      <table class="table table-striped">
        <thead>
          <tr>
            <% if current_user && current_user.admin? %>
              <th><%= (t "post.id") %></th>
            <% end %>
            <th><%= (t "post.published")%></th>
            <th><%= (t "post.author")%></th>
            <th><%= (t "post.title")%></th>
            <th><%= (t "post.content")%></th>
            <th><%= (t "post.portfolio")%></th>
            <th><%= (t "post.created_at")%></th>
            <th><%= (t "post.updated_at")%></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.order(updated_at: :desc).each do |post| %>
            <tr>
              <% if current_user && current_user.admin? %>
                <th><%= post.id %></th>
              <% end %>
              <td><%= link_to post.publish, publish_post_path(post), method: :post, data: { confirm: 'Do you want to publish this post?' } %></td>
              <td><%= post.author.name%></td>
              <td><%= link_to truncate(post.title), post %></td>
              <td><%= truncate(post.content) %></td>
              <td><%= post.portfolio ? post.portfolio.name : "" %></td>
              <td><%= post.created_at.to_s(:short) %></td>
              <td><%= post.updated_at.to_s(:short) %></td>
              <td><%= link_to (t "edit"), edit_post_path(post) %></td>
              <td><%= link_to (t "destroy"), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
