<% if user_signed_in? %>
  <li class="dropdown">
    <%= link_to edit_user_registration_path, class: "dropdown-toggle" do %>
      <%= current_user.name %> <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to (t "signout"), destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
<% else %>
  <li class="dropdown">
    <%= link_to new_user_session_path, class: "dropdown-toggle" do %>
      <%= (t "signin") %>
    <% end %>
    <!-- <ul class="dropdown-menu">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <li><%= link_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></li>
        <% end -%>
      <% end -%>
    </ul> -->
  </li>
  <li><%= link_to (t "signup"), new_user_registration_path %></li>
<% end %>
