<% if user_signed_in? %>
  <li class="dropdown">
    <%= link_to edit_user_registration_path, class: "dropdown-toggle" do %>
      <%= current_user.name %> <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% if policy(Access).index? %>
        <li><%= link_to (t "userpanel"), users_path %></li>
      <% end %>
      <li><%= link_to (t "signout"), destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
<% else %>
  <li class="dropdown">
    <%= link_to new_user_session_path, class: "dropdown-toggle" do %>
      <%= (t "signin") %>
    <% end %>
  </li>
  <li><%= link_to (t "signup"), new_user_registration_path %></li>
<% end %>
