<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pattern" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pattern" %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/visitors/navigation'%>
    </header>
    <main>
      <%= render 'layouts/visitors/messages' %>
      <%= yield %>
    </main>
    <footer class="footer">
      <%= render 'layouts/visitors/footer'%>
    </footer>
  </body>

</html>
